body {
  background-image: url("bg.png");
  background-color: rgb(253, 251, 251);
  overflow-x:hidden;
  font-size: 14px;
  color: black;
  letter-spacing: 1px;
  font-family:monospace;
}
#cabecalho {
    background-color: rgb(248, 177, 83);
    position: fixed;
    display: flex;
    justify-content:space-between;
    padding-left: 10px;
    padding-right: 15px;
    top: 0px; right: 0px; left: 0px;
    box-shadow:3px 3px 5px gray;
    border-radius: 1%;
    z-index: 1;
    align-items: center;
    line-height: 25px;
}

h1{
    font-family: Arial, Helvetica, sans-serif; 
}

.menu ul li{
  display: inline-block;
  list-style: none;  
  float: left;
}

#titulo {
  padding: 5px;
  color: white;
}

#minha_foto {
  width: 200px;
  position: relative;
  top: 100px;
  border-radius: 10%;
  box-shadow: 2px 2px 8px gray;
}

#article, #text {
  position: relative;
  font-weight: bold;
  text-align: justify;
  box-shadow: 2px 2px 8px gray;
}

#article{
    top: 200px;
    right: 0px;
    width: 91%;
    font-size: 14px;
    padding: 15px;
    background-color: rgb(248, 177, 83);
    position: relative;
    top: 230px;
}

#text{
    top: -255px;
    right: 0px;
    left: 800px;
    width: 31%;
    padding: 15px;
    background-color: rgb(248, 177, 83);
    color: white;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.menu a {
  position: relative;
  padding: 5px 10px;
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: orange;
}

.menu a:hover{
    border: 1.5px solid blak;
    background-color: white;
    color: tomato;
}

#licoes_aprendidas{
    background-color: orange;
    position: relative;
    top: -425px;
    left: 230px;
    font-weight: bold;
    width: 250px;
    padding: 10px;
}

#licoes_aprendidas li {
    position: relative;
    padding: 5px 10px;
    color: white;
  }
  
  #licoes_a_aprender {
    background-color: orange;
    position: relative;
    font-weight: bold;
    width: 250px;
    padding: 10px;
    top: -770px;
    left: 510px;
  }

 #licoes_a_aprender li {
    position: relative;
    padding: 5px 10px;
    color: white;
  } 

h4{
    font-weight: bold;
    color: tomato;
    text-align:center;
}

div {
    border: 2px solid black;
    width: 100px;
}

div a{
text-decoration: none;
background-color: coral;
padding: 5px 5px;
display: flow-root;
color:white
}

#table {
  background-color:orange;
  width: fit-content;
  margin: 5px;
  position: relative;
  top: -550px;
}

#tabela tr td a {
    width: 64px;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 0px 35px;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
}

h4 {
    text-align: center;
    margin-bottom: 1px;
    color:white;
    font-size: 14px;
}

#rodape {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 8px gray;
}